* {
    all: unset; // Unsets everything so you can style everything from scratch */
    font-size: 10px;
    padding: 0;
    margin: 0;
    color: #b0b4bc;
}
// Global Styles
.bar {
    background-color: #000;
    padding: 0;
}
.rightside {
}
.wifi-icon {
}
tooltip {
    border-radius: 4px;
    background-color: #b0b4bc;
    color: #090909;
}
tooltip label {
    color: #090909;
}
.menu-icon {
    margin: 1 14 1 -4;
}
.music {
    padding: 1 0 1 10;
}

.volume {
    border-radius: 15px;
    padding: 12px;
}
.volume-container {
    background-color: rgba(9, 9, 9, 1);
}
.volume-icon {
    color: #b0b4bc;
    font-size: 30px;
    padding-right: 30px;
    padding-left: 2px;
}
.volume-icon-muted {
    color: #b0b4bc;
    font-size: 30px;
    padding-right: 30px;
    padding-left: 2px;
}
scale trough highlight {
    background-color: #b0b4bc;
    color: #000000;
    border-radius: 10px;
}

scale trough {
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 8px;
    min-width: 100px;
    margin-right: 5px;
}
.bright {
    border-radius: 15px;
    padding: 12px;
}
.bright-container {
    background-color: rgba(9, 9, 9, 1);
}
.bright-icon {
    color: #b0b4bc;
    font-size: 30px;
    padding-right: 26px;
    padding-left: 6px;
}

.menu {
    padding: 0;
    border-top-left-radius: 30px;
}
.menu-container {
    background-color: #000000;
    padding: 30;
}
.menu-startup-icon {
    color: #b0b4bc;
    font-size: 30px;
}
.menu-startup-box {
    padding: 10;
    border-radius: 15px;
}
.menu-startup-button {
    border-radius: 15px;
    background-color: #101010;
    transition: background-color 0.2s;
}
.menu-startup-button:hover {
    border-radius: 15px;
    background-color: #0a0a0a;
    transition: background-color 0.2s;
}
.tablet-icon {
    margin: 0 0 0 -12;
}
.menu-startup-text {
    font-size: 12px;
}
