* {
    border: none;
    box-shadow: none;
}
window {
    background-color: #202020;
}
#input {
    border-radius: 0;
    background-color: #202020;
    color: #fff;
}
#input:focus {
    border-color: #ffaa50;
}

#entry:selected {
    background-color: #ffaa50;
    border-style: solid;
    color: #000;
}

#text:selected {
    color: #000;
    border: none;
}

#entry {
    color: #fff;
    border-style: none;
}
