* {
    border: none !important;
    box-shadow: none;
}
#input {
    border-radius: 0;
}

#entry:selected {
    border-style: solid;
}

#text:selected {
    border: none;
}

#entry {
    border-style: none;
}
